$sidebar-width: 240px;

.root {
  display: flex;
  height: 100%;
  overflow: hidden;

  .sidebar {
    flex: 0 0 240px;
  }

  .content {
    flex-grow: 1;
    // padding: 3px;
    overflow-y: auto;
  }
}
